<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Afghanistan</string>
	<string>Albania </string>
	<string>Algeria </string>
	<string>American Samoa </string>
	<string>Andorra </string>
	<string>Angola </string>
	<string>Anguilla </string>
	<string>Antigua &amp; Barbuda </string>
	<string>Argentina </string>
	<string>Armenia </string>
	<string>Aruba </string>
	<string>Australia </string>
	<string>Austria </string>
	<string>Azerbaijan </string>
	<string>Bahamas</string>
	<string>Bahrain </string>
	<string>Bangladesh </string>
	<string>Barbados </string>
	<string>Belarus </string>
	<string>Belgium </string>
	<string>Belize </string>
	<string>Benin </string>
	<string>Bermuda </string>
	<string>Bhutan </string>
	<string>Bolivia </string>
	<string>Bosnia &amp; Herzegovina </string>
	<string>Botswana </string>
	<string>Brazil </string>
	<string>British Virgin Is. </string>
	<string>Brunei </string>
	<string>Bulgaria </string>
	<string>Burkina Faso </string>
	<string>Burma </string>
	<string>Burundi </string>
	<string>Cambodia </string>
	<string>Cameroon </string>
	<string>Canada </string>
	<string>Cape Verde </string>
	<string>Cayman Islands </string>
	<string>Central African Rep. </string>
	<string>Chad </string>
	<string>Chile </string>
	<string>China </string>
	<string>Colombia </string>
	<string>Comoros </string>
	<string>Congo, Dem. Rep. </string>
	<string>Congo, Repub. of the </string>
	<string>Cook Islands </string>
	<string>Costa Rica </string>
	<string>Cote d&apos;Ivoire </string>
	<string>Croatia </string>
	<string>Cuba </string>
	<string>Cyprus </string>
	<string>Czech Republic </string>
	<string>Denmark </string>
	<string>Djibouti </string>
	<string>Dominica </string>
	<string>Dominican Republic </string>
	<string>East Timor </string>
	<string>Ecuador </string>
	<string>Egypt </string>
	<string>El Salvador </string>
	<string>Equatorial Guinea </string>
	<string>Eritrea </string>
	<string>Estonia </string>
	<string>Ethiopia </string>
	<string>Faroe Islands </string>
	<string>Fiji </string>
	<string>Finland </string>
	<string>France </string>
	<string>French Guiana </string>
	<string>French Polynesia </string>
	<string>Gabon </string>
	<string>Gambia</string>
	<string>Gaza Strip </string>
	<string>Georgia </string>
	<string>Germany </string>
	<string>Ghana </string>
	<string>Gibraltar </string>
	<string>Greece </string>
	<string>Greenland </string>
	<string>Grenada </string>
	<string>Guadeloupe </string>
	<string>Guam </string>
	<string>Guatemala </string>
	<string>Guernsey </string>
	<string>Guinea </string>
	<string>Guinea-Bissau </string>
	<string>Guyana </string>
	<string>Haiti </string>
	<string>Honduras </string>
	<string>Hong Kong </string>
	<string>Hungary </string>
	<string>Iceland </string>
	<string>India </string>
	<string>Indonesia </string>
	<string>Iran </string>
	<string>Iraq </string>
	<string>Ireland </string>
	<string>Isle of Man </string>
	<string>Israel </string>
	<string>Italy </string>
	<string>Jamaica </string>
	<string>Japan </string>
	<string>Jersey </string>
	<string>Jordan </string>
	<string>Kazakhstan </string>
	<string>Kenya </string>
	<string>Kiribati </string>
	<string>Korea, North </string>
	<string>Korea, South </string>
	<string>Kuwait </string>
	<string>Kyrgyzstan </string>
	<string>Laos </string>
	<string>Latvia </string>
	<string>Lebanon </string>
	<string>Lesotho </string>
	<string>Liberia </string>
	<string>Libya </string>
	<string>Liechtenstein </string>
	<string>Lithuania </string>
	<string>Luxembourg </string>
	<string>Macau </string>
	<string>Macedonia </string>
	<string>Madagascar </string>
	<string>Malawi </string>
	<string>Malaysia </string>
	<string>Maldives </string>
	<string>Mali </string>
	<string>Malta </string>
	<string>Marshall Islands </string>
	<string>Martinique </string>
	<string>Mauritania </string>
	<string>Mauritius </string>
	<string>Mayotte </string>
	<string>Mexico </string>
	<string>Micronesia, Fed. St. </string>
	<string>Moldova </string>
	<string>Monaco </string>
	<string>Mongolia </string>
	<string>Montserrat </string>
	<string>Morocco </string>
	<string>Mozambique </string>
	<string>Namibia </string>
	<string>Nauru </string>
	<string>Nepal </string>
	<string>Netherlands </string>
	<string>Netherlands Antilles </string>
	<string>New Caledonia </string>
	<string>New Zealand </string>
	<string>Nicaragua </string>
	<string>Niger </string>
	<string>Nigeria </string>
	<string>N. Mariana Islands </string>
	<string>Norway </string>
	<string>Oman </string>
	<string>Pakistan </string>
	<string>Palau </string>
	<string>Panama </string>
	<string>Papua New Guinea </string>
	<string>Paraguay </string>
	<string>Peru </string>
	<string>Philippines </string>
	<string>Poland </string>
	<string>Portugal </string>
	<string>Puerto Rico </string>
	<string>Qatar </string>
	<string>Reunion </string>
	<string>Romania </string>
	<string>Russia </string>
	<string>Rwanda </string>
	<string>Saint Helena </string>
	<string>Saint Kitts &amp; Nevis </string>
	<string>Saint Lucia </string>
	<string>St Pierre &amp; Miquelon </string>
	<string>Saint Vincent and the Grenadines </string>
	<string>Samoa </string>
	<string>San Marino </string>
	<string>Sao Tome &amp; Principe </string>
	<string>Saudi Arabia </string>
	<string>Senegal </string>
	<string>Serbia </string>
	<string>Seychelles </string>
	<string>Sierra Leone </string>
	<string>Singapore </string>
	<string>Slovakia </string>
	<string>Slovenia </string>
	<string>Solomon Islands </string>
	<string>Somalia </string>
	<string>South Africa </string>
	<string>Spain </string>
	<string>Sri Lanka </string>
	<string>Sudan </string>
	<string>Suriname </string>
	<string>Swaziland </string>
	<string>Sweden </string>
	<string>Switzerland </string>
	<string>Syria </string>
	<string>Taiwan </string>
	<string>Tajikistan </string>
	<string>Tanzania </string>
	<string>Thailand </string>
	<string>Togo </string>
	<string>Tonga </string>
	<string>Trinidad &amp; Tobago </string>
	<string>Tunisia </string>
	<string>Turkey </string>
	<string>Turkmenistan </string>
	<string>Turks &amp; Caicos Is </string>
	<string>Tuvalu </string>
	<string>Uganda </string>
	<string>Ukraine </string>
	<string>United Arab Emirates </string>
	<string>United Kingdom </string>
	<string>United States </string>
	<string>Uruguay </string>
	<string>Uzbekistan </string>
	<string>Vanuatu </string>
	<string>Venezuela </string>
	<string>Vietnam </string>
	<string>Virgin Islands </string>
	<string>Wallis and Futuna </string>
	<string>West Bank </string>
	<string>Western Sahara </string>
	<string>Yemen </string>
	<string>Zambia </string>
	<string>Zimbabwe </string>
</array>
</plist>
